.nav-body {
  height: 100%;
}

.sidebar {
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100vh;
  width: 250px;
  min-width: 250px;
  max-width: 350px;
  padding: 0 10px;
  background-color: var(--sidebar-color);
  border-right: 1px solid #ccc;
  overflow-y: auto;
  overflow-x: hidden;
  transition: var(--tran-04);
}

.sidebar.close {
  width: 80px;
  min-width: 80px;
  max-width: 80px;
}

.sidebar header {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-text {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.sidebar .image {
  display: flex;
  align-items: center;
}

.image-text .image img {
  height: 45px;
}

.sidebar .logoFull img {
  height: 45px;
  display: flex;
  align-items: center;
}
hr {
  margin: 0 0.1rem;
}

.toggle {
  position: fixed;
  top: 52px;
  left: 250px;
  transform: translate(-50%);
  height: 25px;
  width: 25px;
  background-color: var(--accent-clr-2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #eee;
  font-size: 18px;
  font-weight: 700;
  z-index: 100;
  transition: var(--tran-04);
  cursor: pointer;
}

.closeToggle {
  left: 67px;
  transform: rotateY(180deg);
}

.dark .toggle {
  color: var(--toggle-color);
}

.nav-closer {
  display: none;
  margin-top: auto;
  margin-bottom: auto;
  font-weight: 500;
  font-size: 22px;
}

.menu {
  margin-top: 15px;
}

.profile {
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dpDiv {
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dp {
  width: 50px;
  border-radius: 50%;
}

.sidebar.close .namePost {
  opacity: 0;
}

.userName {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-color);
  opacity: 1;
  transition: var(--tran-03);
  white-space: nowrap;
}

.userPost {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  opacity: 1;
  transition: var(--tran-03);
  white-space: nowrap;
}

.mode {
  position: relative;
}

.moonSun {
  height: 50px;
  width: 60px;
  display: flex;
  align-items: center;
}

.mode i {
  position: absolute;
}

.toggleSwitch {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar.close .toggleSwitch {
  opacity: 0;
}

.toggleSwitch .switch {
  position: absolute;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}

.switch::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: var(--sidebar-color);
  transition: var(--tran-03);
}

.dark .switch::before {
  left: 24px;
}

.searchBox {
  background-color: var(--bg-clr-2);
  border-radius: 6px;
  transition: var(--tran-04);
}

.searchBox input {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--bg-clr-2);
  border-radius: 6px;
  font-size: 15px;
  transition: var(--tran-04);
}

.searchBox input[type="search"] {
  color: var(--text-color);
}

.sidebar a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: var(--tran-04);
  margin-top: 5px;
}

.sidebar a:hover {
  background-color: var(--bg-clr-2);
}

.sidebar li {
  height: 50px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar.close li {
  justify-content: center;
}

.sidebar li .icon {
  font-size: 20px;
  color: var(--text-color);
  min-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar li .text {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--text-color);
  opacity: 1;
  transition: var(--tran-03);
  white-space: nowrap;
  border-radius: 6px;
}

.sidebar.close .menuLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar.close li .text {
  display: none;
}

ul {
  padding-left: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.4s ease;
  z-index: 999;
  pointer-events: none;
  display: none;
}

.overlay.show-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

.sidebar.close .navLink .icon {
  margin-right: 0px;
}

@media only screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
  }

  .sidebar.close {
    min-width: 0;
    max-width: 0;
    padding: 0;
  }

  .sidebar header {
    justify-content: space-around;
  }

  .sidebar .logoFull img {
    padding-right: 20px;
  }

  .toggle {
    display: none;
  }

  .nav-closer {
    display: unset;
  }

  .overlay {
    display: block;
  }
}

.navLink {
  display: flex;
  align-items: center;
  /* padding: 10px 15px; */
  border-radius: 8px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.navLink:hover {
  background-color: rgba(
    0,
    128,
    255,
    0.3
  ); /* Slight blue background on hover */
}

.navLink.active {
  color: var(--sidebar-select); /* Blue font color for active item */
  background-color: rgba(
    0,
    128,
    255,
    0.2
  ); /* Blue background with reduced opacity */
  border: 2px solid var(--sidebar-select); /* Blue border for active item */
  border-radius: 8px;
}

.navLink.active .icon {
  color: var(--sidebar-select); /* Blue color for the icon */
}

.navLink.active .text {
  color: var(--sidebar-select); /* Blue color for the icon */
}

.navLink .icon {
  margin-right: 5px;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.navText {
  font-size: 1rem;
  transition: color 0.3s ease; /* Smooth transition for text color */
}
