.card-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 0.8rem 1.25rem;
}

.card-header h5 {
    margin-bottom: 0;
}

.row {
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5rem;
}

.text-success {
  color: #28a745;
}

.text-danger {
  color: #dc3545;
}

.earning {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .text-success .badge {
    padding: 0.2rem 0.4rem;
    font-size: 0.625rem;
  }
  
  .text-danger .badge {
    padding: 0.2rem 0.4rem;
    font-size: 0.625rem;
  }
  
  h4 {
    font-weight: 600;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  
  @media (max-width: 768px) {
    h4 {
      font-size: 0.875rem;
    }
  }
  