<div class="analytics-parent">
  <div class="row g-3">
    <!-- First full-width box -->
    <div class="col-12">
      <div class="commonCard-2">
        <div class="card-header">
          <h5>Earnings</h5>
          <!-- <a href="#">View All</a> -->
        </div>
        <hr>
        <div class="commonCard-2-body">
          <div class="row mb-6 pb-6">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="mb-2 ms-4">
                <p class="earning first-half">First Half</p>
                <h4>$51.94k 
                  <span class="text-success">
                    <span class="badge status-sale">+0.9%</span>
                  </span>
                </h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="mb-2 ms-4">
                <p class="earning top-gross">Top Gross</p>
                <h4>$18.32k 
                  <span class="text-success">
                    <span class="badge status-sale">+0.39%</span>
                  </span>
                </h4>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
              <div class="mb-2 ms-3">
                <p class="earning second-half">Second Half</p>
                <h4>$38k 
                  <span class="text-danger">
                    <span class="badge status-charges">-0.15%</span>
                  </span>
                </h4>
              </div>
            </div>
          </div>          

          <div id="chart" class="apexcharts-canvas" style="width: 100%; min-height: 215px;"></div>
        </div>
      </div>
    </div>
    <!-- Second full-width box -->
    <div class="col-12">
      <div class="box"></div>
    </div>
    <!-- Two half-width boxes -->
    <div class="col-12 col-xl-6">
      <div class="box"></div>
    </div>
    <div class="col-12 col-xl-6">
      <div class="box"></div>
    </div>
  </div>
</div>
