<div class="container financial-reporting-parent">
  <div class="row g-3">
    <!-- Left Section: Financial Overview -->
    <div class="col-12 col-xxl-6">
      <div class="financial-overview-parent">
        <app-financial-overview></app-financial-overview>
      </div>
    </div>

    <!-- Right Section: Financial Analytics -->
    <div class="col-12 col-xxl-6">
      <div class="financial-analytics-parent">
        <app-financial-analytics></app-financial-analytics>
      </div>
    </div>
  </div>

  <!-- Bottom Full-Width Row: Table -->
  <div class="row g-3 mt-3">
    <div class="col-12">
      <div class="table">
        <!-- Your table content goes here -->
      </div>
    </div>
  </div>
</div>
