<div class="trade-payments-parent commonCard">
  <section class="heading">
    <h2 class="cardHeading">Payment</h2>
  </section>
  <hr />
  <!-- Trade Payments Buttons -->
  <div class="trade-payments commonCard">
    <button class="payment">
      <img
        src="assets/svg/common/dollar-send.svg"
        alt="Receive Payment"
        class="currency-icon"
      />
      <div class="payment-text"><span>Send</span><span> Payment</span></div>
    </button>
    <button class="payment">
      <img
        src="assets/svg/common/dollar-receive.svg"
        alt="Receive Payment"
        class="currency-icon"
      />
      <div class="payment-text"><span>Receive</span><span> Payment</span></div>
    </button>
  </div>
</div>
