<nav class="top-navbar">
  <h1 class="dashboard-title">{{ dashboardTitle }}</h1>
  <div class="controls">
    <ul class="control-list">
      <li class="mode">
        <div class="icon-container" (click)="toggleTheme()">
          <i
            class="ri-sun-fill icon sun"
            style="color: #ffcc33"
            *ngIf="!isDarkMode"
          ></i>
          <i
            class="ri-moon-fill icon moon"
            style="color: #dae0ee"
            *ngIf="isDarkMode"
          ></i>
        </div>
      </li>
      <li class="screen-size">
        <div class="icon-container" (click)="toggleFullscreen()">
          <i class="ri-fullscreen-line icon" *ngIf="!isFullScreen"></i>
          <i class="ri-fullscreen-exit-line icon" *ngIf="isFullScreen"></i>
        </div>
      </li>
      <li class="notification">
        <div class="icon-container">
          <i class="ri-notification-3-line icon"></i>
        </div>
      </li>
      <li class="profile" (click)="logout()">
        <div class="dpDiv">
          <img
            class="dp"
            [src]="merchantDetails?.[0]?.merchant_photo"
            alt="Merchant Photo"
            (error)="onImageError($event)"
          />
        </div>
        <div class="namePost" *ngIf="merchantDetails?.length > 0">
          <span class="userName" *ngIf="merchantDetails[0]?.merchant_name">{{
            merchantDetails[0]?.merchant_name
          }}</span>
          <span class="userPost" *ngIf="merchantDetails[0]?.merchant_role">
            {{ merchantDetails[0]?.merchant_role }}
          </span>
        </div>
      </li>
    </ul>
  </div>
</nav>
