.top-navbar {
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-clr-1);
  border-bottom: 1px solid #cccc;
  transition: var(--tran-04);
}

.dashboard-title {
  font-weight: 500;
  font-size: 28px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-title i {
  display: none;
  padding-right: 3px;
}

.control-list {
  display: flex;
  margin-bottom: 0;
}

.icon-container {
  padding: 6px 6px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: var(--tran-04);
}

.icon-container:hover {
  background-color: var(--bg-clr-2);
  cursor: pointer;
}

.icon {
  padding: 0.25rem;
  font-size: 1.3rem;
  transition: var(--tran-03);
}

.screen-size .icon-container:hover .ri-fullscreen-line {
  transform: scale(1.1);
}

.screen-size .icon-container:hover .ri-fullscreen-exit-line {
  transform: scale(0.9);
}

.profile {
    display: flex;
    align-items: center;
    margin-left: 5px;
    line-height: 20px;
}

.dp {
    width: 35px;
    height: 35px;
    border: var(--accent-clr-1) 1px solid;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

.profile-menu-parent {
  position: absolute;
  top: 100%;
  right: 10px;
  width: 320px;
  max-height: 0px;
  transition: all 0.4s;
  clip-path: polygon(0px 0px, 100% 0px, 100% 0px, 0px 0px);
}

.profile-menu-parent.open-menu {
  max-height: 400px;
  clip-path: polygon(0px 0px, 105% 0px, 105% 110%, 0px 110%);
}

.profile-menu {
  background-color: var(--bg-clr-1);
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 10px #ccc7;
  border-radius: 0.5rem;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info .dp {
  width: 45px;
  height: 45px;
  cursor: unset;
}

.namePost {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userName {
  font-size: 16px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.userPost {
  font-size: 12px;
  font-weight: 400;
}

.profile-menu hr {
  height: 1px;
  width: 100%;
  margin: 8px 0px;
}

.profile-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--txt-clr-1);
  margin: 12px 0px;
  transition: transform 0.4s;
}

.logout {
  color: rgb(var(--charges-clr));
}

.profile-menu-link p {
  width: 100%;
}

.profile-menu-link i {
  font-size: 20px;
  padding: 8px;
  margin-right: 5px;
  border-radius: 50%;
}

.profile-menu-link span {
  margin-right: 5px;
  transition: transform 0.4s;
}

.profile-menu-link:hover {
  transform: translateX(3px);
}

.profile-menu-link:hover p, i {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .dashboard-title {
    font-size: 22px;
  }

  .dashboard-title i {
    display: unset;
  }

  .namePost {
    display: none;
  }

  .dp {
    width: 35px;
    height: 35px;
  }

  .icon-container {
    padding: 4px 4px;
  }

  .icon {
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 480px) {
  .dashboard-title {
    font-size: 20px;
  }

  .icon-container {
    padding: 3px 3px;
  }

  .icon {
    font-size: 1rem;
  }

  .dp {
    width: 30px;
    height: 30px;
  }
}
