<nav class="top-navbar">
  <h1 class="dashboard-title">
    <i class="ri-menu-line" (click)="openSidenav()"></i>
    {{ dashboardTitle }}
  </h1>
  <div class="controls">
    <ul class="control-list">
      <li class="mode">
        <div class="icon-container" (click)="toggleTheme()">
          <i
            class="ri-sun-fill icon sun"
            style="color: #ffcc33"
            *ngIf="!isDarkMode"
          ></i>
          <i
            class="ri-moon-fill icon moon"
            style="color: #dae0ee"
            *ngIf="isDarkMode"
          ></i>
        </div>
      </li>
      <li class="screen-size">
        <div class="icon-container" (click)="toggleFullscreen()">
          <i class="ri-fullscreen-line icon" *ngIf="!isFullScreen"></i>
          <i class="ri-fullscreen-exit-line icon" *ngIf="isFullScreen"></i>
        </div>
      </li>
      <li class="notification">
        <div class="icon-container">
          <i class="ri-notification-3-line icon"></i>
        </div>
      </li>
      <li class="profile" (click)="toggleProfileMenu()">
        <div class="dpDiv">
          <img
            class="dp"
            [src]="merchantDetails?.[0]?.merchant_photo"
            alt="DP"
            (error)="onImageError($event)"
          />
        </div>
        <div class="profile-menu-parent" id="profileMenuParent">
          <div class="profile-menu">
            <div class="user-info">
              <img
                class="dp"
                [src]="merchantDetails?.[0]?.merchant_photo"
                alt="DP"
                (error)="onImageError($event)"
              />
              <div class="namePost" *ngIf="merchantDetails">
                <span class="userName" *ngIf="merchantDetails.username">
                  {{ merchantDetails.username }}
                </span>
                <span class="capitalize userPost" *ngIf="merchantDetails.role">
                  {{ merchantDetails.role }}
                </span>
              </div>
            </div>
            <hr>
            <a (click)="logout()" class="profile-menu-link logout">
              <i class="ri-logout-box-r-line"></i>
              <p>Logout</p>
              <!-- <span>></span> -->
            </a>
          </div>
        </div>
        <!-- <div class="namePost" *ngIf="merchantDetails">
          <span class="userName" *ngIf="merchantDetails.username">
            {{ merchantDetails.username }}
          </span>
          <span class="capitalize userPost" *ngIf="merchantDetails.role">
            {{ merchantDetails.role }}
          </span>
        </div> -->
      </li>
    </ul>
  </div>
</nav>
