<div class="app-container">
  <app-side-navbar></app-side-navbar>

  <div class="content">
    <ng-container [ngSwitch]="currentDashboard">
      <app-top-navbar [dashboardTitle]="dashboardTitle"></app-top-navbar>

      <app-currency-management
        *ngSwitchCase="'currency-management'"
      ></app-currency-management>

      <app-general-ledger *ngSwitchCase="'general-ledger'"></app-general-ledger>

      <app-financial-reporting
        *ngSwitchCase="'financial-reporting'"
      ></app-financial-reporting>

      <app-admin-portal *ngSwitchCase="'admin-portal'"></app-admin-portal>
    </ng-container>
  </div>
</div>
