<div class="currency-management-parent">
  <app-currency-transactions></app-currency-transactions>
  <app-account-details></app-account-details>
  <!-- <div class="recent-payments commonCard">
    <h3>Recent Payments</h3>
    <div class="recent-payment-item">
      <span>DESIGNATRONICS INC.</span>
      <span>$1,558.37</span>
      <span>5th Jul 2024</span>
    </div>
    <div class="recent-payment-item commonCard">
      <span>DESIGNATRONICS INC.</span>
      <span>$1,034.42</span>
      <span>26th Mar 2024</span>
    </div>
  </div> -->
  <app-recent-payments></app-recent-payments>
  <app-currency-exchanger></app-currency-exchanger>
</div>
